body{
    font-family: 'Spartan', sans-serif;
}
.btn-primary {
	border-radius: 30px;
	font-size: 14px;
	font-weight: 600;
	padding: 11px 20px 8px 20px;
	transition: all .5s;
	position: relative;
	z-index: 1;
	overflow: hidden;
	border: 0;
}
/* Pricing Section */
.pricing_section{
    background: #f6f9fc;
}
.pricing_header h5 {
	color: #6c79e7;
	font-weight: 501;
	font-size: 13px;
	transition-delay: 10s;
}
.pricing_header h2 {
	font-weight: 700;
	margin-bottom: 37px;
	position: relative;
}
.pricing_header h2::after {
	content: "";
	position: absolute;
	top: 56px;
	left: 44%;
	width: 48px;
	height: 2px;
	background: #4063e5;
	margin: auto;
}
.pricing_header p {
	font-weight: 600;
	color: #acb5c8;
}

/* Pricing Card */
.pricing_card{
    background: #fff;
    padding: 50px 0;
	transition: all .6s;
}
.card-title h6 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 29px;
	transition: all .6s;
	transition-delay: .4s;
}
.card-title h3 {
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 95px;
	transition: all .6s;
	transition-delay: .4s;
}
.card-title{
	position: relative;
}
.card-title p {
	font-size: 14px;
	position: absolute;
	top: 96px;
	left: 132px;
	color: transparent;
	transition: .6s;
}
.card-text ul {
	margin-bottom: 23px;
	position: relative;
}
.card-text ul::before {
	content: "";
	position: absolute;
	top: -34px;
	left: 25%;
	width: 175px;
	height: 1px;
	background: #abacb84d;

}
.pricing_card:hover ul::before {
	background: #ffffff73;
}
.card-text ul li {
	color: #abacb8;
	font-weight: 500;
	margin: 13px 0;
	font-size: 14px;
	transition: all .5s;
}
.card_button{
	position: relative;
}
.card_button .btn-primary::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: #2f65ee;
	color: #fff;
	width: 0;
	height: 100%;
	z-index: -1;
	visibility: hidden;
	transition: all .6s;
}
/* Hover Part */
.pricing_card:hover{
	background: #2f65eb;
}
.pricing_card:hover h6{
	color: #fff;
}
.pricing_card:hover h3{
	color: #fff;
}
.pricing_card:hover .card-title p{
	color: #fff;
}
.pricing_card:hover ul li{
	color: #fff;
}
.pricing_card:hover .btn-primary{
	background: #fff;
	color: #6288e6;
}
.card_button .btn-primary:hover{
	color: #d9e4fe;
}
.card_button .btn-primary:hover::after{
	width: 100%;
	visibility: visible;
}
/* About Service Section */
.about_service_section{
    background: url(https://i.ibb.co/rHpV6nm/free-bg.jpg) no-repeat center center;
    padding: 120px 0 !important;
    position: relative;
    z-index: 1;
}
.about_service_section::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(49, 89, 208, 0.84);
	z-index: -1;
}
.about_service_content h6 {
	font-size: 14px;
	font-weight: 600;
}
.about_service_content h2 {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 40px;
	position: relative;
}
.about_service_content h2::after {
	content: "";
	position: absolute;
	top: 88px;
	left: 46%;
	width: 48px;
	height: 1px;
	background: #fff;
}
.about_service_content p {
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 40px;
}
.about_service_content_btn .btn-primary {
	background: #fff;
	color: #3884f7;
	padding: 16px 24px 12px 24px;
	font-weight: 700;
	border: 1px solid transparent;
	position: relative;
}
.about_service_content_btn .btn-primary:hover{
	color: #d9e4fe;
}
.about_service_content_btn .btn-primary::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: #2f65ee;
	color: #fff;
	width: 0;
	height: 100%;
	z-index: -1;
	visibility: hidden;
	transition: all .6s;

}
.about_service_content_btn .btn-primary:hover::after{
	width: 100%;
	visibility: visible;
}
/* Newsletter Section */
.newsletter_section{
    background: #f8f9fa;
}
.newletter_content{
	background: #3e62e5;
}
.news_text {
	width: 367px;
}
.news_text h2 {
	font-size: 25px;
	margin-bottom: 14px;
}
.news_text p {
	font-size: 14px;
	margin-bottom: 26px;
}
.mail_input {
	width: 300px;
	font-size: 14px;
	color: #696b79;
	padding: 6px 15px 4px 15px;
	border-radius: 30px;
	font-weight: 600;
	border: none;
	margin-right: 20px;
}
.submit_input {
	border-radius: 30px;
	font-size: 14px;
	padding: 6px 15px 4px 15px;
	background: #3e62e5;
	color: #fff;

	border: 1px solid #fff;
	font-weight: 600;
}
.get_started {
	padding: 28px 48px;
	width: 377px;
	height: 257px;
}
.get_started h3 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 92px;
}
.get_started .btn-primary {
	padding: 7px 12px 5px 13px;
	font-size: 13px;
}







